ReteFlow.json
[{"id":"28824aff.df1ac6","type":"tab","label":"Rete Logic Backend","disabled":false,"info":""},{"id":"296bd5dd.4f1b0a","type":"group","z":"28824aff.df1ac6","name":"Core","style":{"label":true},"nodes":["5072219f.adfa","4428d32e.2245bc","f0440ffb.bf927","f47cfadd.8d3ee8","a2f69e52.2940e","c9b7f7af.40f968","88643868.902988","4611c146.4863","3fc137eb.96d258","432abd67.4a9f84","75afd041.1d8fc","bfed67ca.9565c8","a94b3a33.a27488","6d10149e.7fd12c","579b05d0.1a74ac"],"x":14,"y":119,"w":732,"h":262},{"id":"77d712ac.977b7c","type":"group","z":"28824aff.df1ac6","name":"INPUTS","style":{"label":true},"nodes":["fe1b6140.543f1","fd527bcc.861738"],"x":34,"y":459,"w":252,"h":122},{"id":"d7c9a715.3aed98","type":"group","z":"28824aff.df1ac6","name":"OUTPUTS","style":{"label":true},"nodes":["cc724ce0.a30ec","444a6775.400ed8","8aea010b.d9532"],"x":534,"y":459,"w":192,"h":202},{"id":"5072219f.adfa","type":"websocket out","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","server":"f815bf59.edf6a","client":"","x":600,"y":340,"wires":[]},{"id":"4428d32e.2245bc","type":"http in","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","url":"/rete/download","method":"post","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["f0440ffb.bf927"]]},{"id":"f0440ffb.bf927","type":"change","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","rules":[{"t":"set","p":"manifest","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"received\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":335,"y":220,"wires":[["f47cfadd.8d3ee8"]],"l":false},{"id":"f47cfadd.8d3ee8","type":"http response","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","statusCode":"","headers":{},"x":450,"y":240,"wires":[]},{"id":"a2f69e52.2940e","type":"http in","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","url":"/rete/upload","method":"get","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["c9b7f7af.40f968"]]},{"id":"c9b7f7af.40f968","type":"change","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"manifest","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":335,"y":260,"wires":[["f47cfadd.8d3ee8"]],"l":false},{"id":"88643868.902988","type":"function","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","func":"var data = context.get(\"data\")\nmsg.topic = msg.topic.toUpperCase();\nif(msg.topic==\"DATA\"){\n    data = {\n        ...data,\n        ...msg.payload\n    };\n    context.set(\"data\",data)\n}\nlet last_state = context.get(\"state\");\nif(msg.topic == \"RUN\" || msg.topic == \"STOP\"){\n    context.set(\"state\", msg.topic);\n}\nlet state = context.get(\"state\");\nlet status = {};\nstatus.text = state;\nstatus.fill = state==\"RUN\"?\"green\":\"red\";\nnode.status(status);\n\nif(msg.topic != \"EXEC\" || state != \"RUN\") return;\n\nvar manifest = flow.get(\"manifest\");\ncontext.set(\"manifest\",manifest);\n\nmsg.payload = {};\nvar inputs = [];\nvar outputs = [];\nvar logicByPhase = {};\nvar stack = [];\nvar phases = [];\n\nmanifest.nodes.forEach(n => {\n    if(n.name == \"INPUT\"){\n        inputs.push(n);\n    }else if(n.name == \"OUTPUT\"){\n        outputs.push(n);\n    }else{\n        var scanID = n.data.scanID;\n        // see if this phase already has member, else init\n        if(logicByPhase.hasOwnProperty(scanID)){\n            logicByPhase[scanID].push(n);\n        }else{\n            logicByPhase[scanID] = [n];\n        }\n        phases.push(+n.data.scanID);\n    }\n});\n\ninputs.forEach(executeNode);\n\nphases.sort((a,b) => {return a - b;});\ncontext.set(\"phases\",phases)\nphases.forEach(scanID => {\n    logicByPhase[scanID.toString()].forEach(executeNode);\n});\n\noutputs.forEach(executeNode);\n\n\nfunction executeNode(n){\n    var in1, in2;\n    switch(n.name){\n        case \"INPUT\":\n            n.data.out = context.get(\"data.\" + n.data.key) || 0;\n            break;\n        case \"OUTPUT\":\n            in1 = getInput(n, \"in1\");\n            n.data.out = in1;\n            context.set(\"out.\" + n.data.key, in1);\n            break;\n        case \"SUM\":\n            in1 = getInput(n, \"in1\");\n            in2 = getInput(n, \"in2\");\n            n.data.out = in1 + in2;\n            break;\n        case \"GT\":\n            in1 = getInput(n, \"in1\");\n            in2 = getInput(n, \"in2\");\n            n.data.out = (in1 > in2)*1;\n            break;\n        case \"AND\":\n            in1 = getInput(n, \"in1\");\n            in2 = getInput(n, \"in2\");\n            n.data.out = ((!!in1) && (!!in2))*1;\n            break;\n        case \"NOT\":\n            in1 = getInput(n, \"in1\");\n            n.data.out = (!in1)*1;\n            break;\n        case \"TON\":\n            enb = !!getInput(n, \"in1\");\n            last_enb = n.data.lastEnb;\n            if((enb && !last_enb) || (last_state != \"RUN\")){\n                n.data.startTm = new Date();\n            }\n            n.data.lastEnb = enb;\n            if(enb){\n                n.data.out = (new Date() - n.data.startTm) / 1000;\n            }else{\n                n.data.out = 0;\n            }\n            break;\n    }\n    msg.payload[n.id] = n;\n    out = {};\n    out.payload = context.get(\"out\");\n}\n\nfunction getInput(n, inp){\n    if(n.inputs.hasOwnProperty(inp)){\n        var nid = n.inputs[inp].connections[0].node;\n        return manifest.nodes.find(nx => nx.id == nid).data.out;\n    }else{\n        return +n.data[inp] || 0;\n    }\n}\n\nflow.set(\"manifest\",manifest);\nreturn [msg,out];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":340,"wires":[["5072219f.adfa"],["cc724ce0.a30ec","444a6775.400ed8","8aea010b.d9532"]]},{"id":"4611c146.4863","type":"inject","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"exec","payload":"","payloadType":"date","x":150,"y":340,"wires":[["88643868.902988"]]},{"id":"3fc137eb.96d258","type":"websocket in","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","server":"f815bf59.edf6a","client":"","x":140,"y":160,"wires":[["432abd67.4a9f84"]]},{"id":"432abd67.4a9f84","type":"change","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":335,"y":160,"wires":[["bfed67ca.9565c8"]],"l":false},{"id":"75afd041.1d8fc","type":"link in","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","links":["bfed67ca.9565c8"],"x":275,"y":320,"wires":[["88643868.902988"]]},{"id":"bfed67ca.9565c8","type":"link out","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"","links":["75afd041.1d8fc"],"x":415,"y":160,"wires":[]},{"id":"a94b3a33.a27488","type":"comment","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"Receive Commands","info":"","x":610,"y":160,"wires":[]},{"id":"6d10149e.7fd12c","type":"comment","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"Live Data","info":"","x":580,"y":300,"wires":[]},{"id":"fe1b6140.543f1","type":"inject","z":"28824aff.df1ac6","g":"77d712ac.977b7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"data","payload":"{\"enable\":1}","payloadType":"json","x":170,"y":500,"wires":[["88643868.902988"]]},{"id":"fd527bcc.861738","type":"inject","z":"28824aff.df1ac6","g":"77d712ac.977b7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"data","payload":"{\"enable\":0}","payloadType":"json","x":160,"y":540,"wires":[["88643868.902988"]]},{"id":"cc724ce0.a30ec","type":"debug","z":"28824aff.df1ac6","g":"d7c9a715.3aed98","name":"RED","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload.red","statusType":"msg","x":610,"y":500,"wires":[]},{"id":"444a6775.400ed8","type":"debug","z":"28824aff.df1ac6","g":"d7c9a715.3aed98","name":"YELLOW","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.yellow","statusType":"msg","x":620,"y":560,"wires":[]},{"id":"8aea010b.d9532","type":"debug","z":"28824aff.df1ac6","g":"d7c9a715.3aed98","name":"GREEN","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.green","statusType":"msg","x":620,"y":620,"wires":[]},{"id":"579b05d0.1a74ac","type":"comment","z":"28824aff.df1ac6","g":"296bd5dd.4f1b0a","name":"Store / Send Program","info":"","x":620,"y":240,"wires":[]},{"id":"2959b969.18be16","type":"inject","z":"28824aff.df1ac6","name":"sample program","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"demo@0.1.0\",\"nodes\":[{\"id\":\"1\",\"data\":{\"scanID\":\"2\",\"in2\":\"1\",\"out\":0},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"2\",\"output\":\"out\"}]},\"in2\":{\"connections\":[{\"node\":\"7\",\"output\":\"out\"}]}},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"6\",\"input\":\"in1\"}]}},\"position\":[\"-24.94259416567428\",\"-201.66181450384445\"],\"name\":\"AND\"},{\"id\":\"2\",\"data\":{\"key\":\"enable\",\"out\":0},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"1\",\"input\":\"in1\"}]}},\"position\":[\"-639.5054425744717\",\"-435.8163343534561\"],\"name\":\"INPUT\"},{\"id\":\"6\",\"data\":{\"scanID\":\"3\",\"lastEnb\":false,\"out\":0,\"startTm\":\"2021-08-02T14:14:20.270Z\"},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"1\",\"output\":\"out\"}]}},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"10\",\"input\":\"in1\"},{\"node\":\"8\",\"input\":\"in1\"},{\"node\":\"9\",\"input\":\"in1\"},{\"node\":\"11\",\"input\":\"in1\"}]}},\"position\":[\"223.0270813867692\",\"-172.17778985127353\"],\"name\":\"TON\"},{\"id\":\"7\",\"data\":{\"scanID\":\"1\",\"out\":1},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"11\",\"output\":\"out\"}]}},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"1\",\"input\":\"in2\"}]}},\"position\":[\"-309.08523287078356\",\"67.9786165914405\"],\"name\":\"NOT\"},{\"id\":\"8\",\"data\":{\"scanID\":\"4\",\"in2\":\"9\",\"out\":0},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"6\",\"output\":\"out\"}]}},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"16\",\"input\":\"in1\"},{\"node\":\"18\",\"input\":\"in1\"}]}},\"position\":[\"662.7898848745408\",\"-180.38456228245477\"],\"name\":\"GT\"},{\"id\":\"9\",\"data\":{\"scanID\":\"5\",\"in2\":\"13\",\"out\":0},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"6\",\"output\":\"out\"}]}},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"19\",\"input\":\"in1\"},{\"node\":\"15\",\"input\":\"in1\"}]}},\"position\":[\"662.7897602428234\",\"111.95551825620555\"],\"name\":\"GT\"},{\"id\":\"10\",\"data\":{\"scanID\":\"6\",\"out\":1,\"in2\":\"-1\"},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"6\",\"output\":\"out\"}]}},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"17\",\"input\":\"in1\"}]}},\"position\":[\"651.2120863100781\",\"-472.7251735529121\"],\"name\":\"GT\"},{\"id\":\"11\",\"data\":{\"scanID\":\"7\",\"in2\":\"19\",\"out\":0},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"6\",\"output\":\"out\"}]}},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"7\",\"input\":\"in1\"}]}},\"position\":[\"661.3425137697272\",\"386.92895564887965\"],\"name\":\"GT\"},{\"id\":\"13\",\"data\":{\"key\":\"red\",\"out\":1},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"17\",\"output\":\"out\"}]}},\"position\":[\"1391.4407272705002\",\"-458.38136160893515\"],\"name\":\"OUTPUT\"},{\"id\":\"14\",\"data\":{\"key\":\"yellow\",\"out\":0},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"18\",\"output\":\"out\"}]}},\"position\":[\"1385.4094207258802\",\"-228.53519335013888\"],\"name\":\"OUTPUT\"},{\"id\":\"15\",\"data\":{\"key\":\"green\",\"out\":0},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"9\",\"output\":\"out\"}]}},\"position\":[\"1380.8628468766085\",\"11.01591240897054\"],\"name\":\"OUTPUT\"},{\"id\":\"16\",\"data\":{\"scanID\":\"8\",\"out\":1},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"8\",\"output\":\"out\"}]}},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"17\",\"input\":\"in2\"}]}},\"position\":[\"883.5192027073078\",\"-305.7036674856656\"],\"name\":\"NOT\"},{\"id\":\"17\",\"data\":{\"scanID\":\"9\",\"out\":1},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"10\",\"output\":\"out\"}]},\"in2\":{\"connections\":[{\"node\":\"16\",\"output\":\"out\"}]}},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"13\",\"input\":\"in1\"}]}},\"position\":[\"1086.0004638240348\",\"-467.39685638294503\"],\"name\":\"AND\"},{\"id\":\"18\",\"data\":{\"scanID\":\"11\",\"out\":0},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"8\",\"output\":\"out\"}]},\"in2\":{\"connections\":[{\"node\":\"19\",\"output\":\"out\"}]}},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"14\",\"input\":\"in1\"}]}},\"position\":[\"1071.2365953031092\",\"-136.92263289074594\"],\"name\":\"AND\"},{\"id\":\"19\",\"data\":{\"scanID\":\"10\",\"out\":1},\"inputs\":{\"in1\":{\"connections\":[{\"node\":\"9\",\"output\":\"out\"}]}},\"outputs\":{\"out\":{\"connections\":[{\"node\":\"18\",\"input\":\"in2\"}]}},\"position\":[\"867.2985445131351\",\"23.313780225467326\"],\"name\":\"NOT\"}]}","payloadType":"json","x":140,"y":40,"wires":[["50567d33.3f8304"]]},{"id":"50567d33.3f8304","type":"change","z":"28824aff.df1ac6","name":"","rules":[{"t":"set","p":"manifest","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":40,"wires":[[]]},{"id":"cf3df9c.3a58008","type":"inject","z":"28824aff.df1ac6","name":"RUN command","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"RUN","payloadType":"str","x":140,"y":80,"wires":[["432abd67.4a9f84"]]},{"id":"f815bf59.edf6a","type":"websocket-listener","path":"/ws/rete","wholemsg":"false"}]